{% extends "bootstrap/base.html" %}

{% block title %}
<!-- Título -->
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if current_user.username %}
                        <a class="nav-link" href="/user/{{ current_user.username }}">User</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create_role">Cadastrar papel</a>
                </li>
            </ul>

            {% if current_user.username %}
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button"
                     id="link" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                        <ion-icon name="person" class="mr-2"></ion-icon>{{ current_user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="link">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            {% else %}
                <a class="nav-link text-dark" href="/login">Login</a>
                <a class="nav-link text-dark" href="/register">Cadastre-se</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
{% endblock %}
