{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Criar papel
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center my-4">
            <div class="col-sm-9 col-md-8 col-xs-5 col-lg-5 mx-4">

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }} {{ message.category }}
                    </div>
                {% endfor %}

                <h1 class="my-4">Criar papel para usuário</h1>

                <form method="POST" role="form">
                    {{ form.csrf_token }}

                    {{ wtf.form_field(form.role_name, class='form-control', placeholder=form
                    .role_name.label.text) }}
                    {{ wtf.form_field(form.submit, class='btn btn-block btn-primary') }}
                </form>
            </div>
            <div class="col-sm-3 col-md-4 col-xs-3 col-lg-3 mt-4">
                <h3>Papéis existentes</h3>
                <ul class="list-group my-4">
                    {% for role in roles %}
                        <li class="list-group-item">
                            {{ role.name }}
                            <span>
                                <a href="/remove_role/{{ role.name }}">
                                    <ion-icon name="close-circle-outline"></ion-icon>
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}