{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Criar papel
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-xs-5 col-lg-5">

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }} {{ message.category }}
                    </div>
                {% endfor %}

                <h1 class="my-4">Criar papel para usuário</h1>

                <form method="POST" role="form">
                    {{ form.csrf_token }}

                    {{ wtf.form_field(form.role_name, class='form-control', placeholder=form
                    .role_name.label.text) }}
                    {{ wtf.form_field(form.submit, class='btn btn-block btn-primary') }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}