{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-sm-12 col-md-10 col-xs-8 col-lg-8">
                <h1>Olá
                    {% if name %}
                        {{ name }}!
                    {% else %}
                        Estranho!
                    {% endif %}
                </h1>

                <form method="POST" role="form">
                    {{ form.csrf_token }}

                    {{ wtf.form_field(form.name, class='form-control', placeholder=form.name.label.text) }}
                    {{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}
                </form>
            </div>
        </div>

    </div>
{% endblock %}

